<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

        <div id="app">
  
            
            <input type="text" v-model="textoDigitado" v-on:keyup.enter="alterarNome('VAZ')" />

            <ul>
                <li v-for="item in array"
                @click="alerta($event)">
                        {{item}}

                </li>
            </ul>
           
        </div>

        <script>

            new Vue({
                el: '#app',
                data: {
                    //dados que vao ser mostrados na tela
                    textoDigitado: "",
                    array: []
                },
                methods: {
                    // alterarNome(sobrenome, event) {
                        alterarNome(sobrenome) {
                     this.array.push(this.textoDigitado)
                     this.textoDigitado + '';

                    },
                    alerta(event){
                        alert(event.target.textContent.trim())
                    }

                }
            })

        </script>
    </body>

</html>