<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

        <div id="app">


            <input type="text" v-model="textoDigitado" v-on:keyup.enter="alterarNome('VAZ')" />

            <ul>
                <li v-for="item in array" @click="alerta($event)">
                    {{item}}

                </li>
            </ul>

            <div>

                red
                <input @click="corP($event.target.value)" type="radio" value="red" id="red" name="red">
                green
                <input @click="corP($event.target.value)" type="radio" value="green" id="green" name="=green">
                blue
                <input @click="corP($event.target.value)" type="radio" value="blue" id="blue" name="blue">
                gray
                <input @click="corP($event.target.value)" type="radio" value="gray" id="gray" name="gray">

                <br/> <br/>
               <button @click= "vermelho()"  type="button"> Vermelho </button>
               <button @click= "verde()" type="button"> Verde</button>
               <button @click= "incolor()"  type="button">  Borda</button>
               <button @click= "borda()" type="button">  incolor</button>


               

                <p ref="firstParagraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque temporibus quod mollitia facilis
                    nisi nostrum dicta officiis voluptatem vitae? Consectetur assumenda inventore, dolorem odit ratione
                    rem sequi alias doloremque maiores.
                </p>
            </div>

        </div>



        <script>

            new Vue({
                el: '#app',
                data: {
                    //dados que vao ser mostrados na tela
                    textoDigitado: "",
                    array: [],             
                    classParagrafo: 'red'
                },
                methods: {
                    // alterarNome(sobrenome, event) {
                    alterarNome(sobrenome) {
                        this.array.push(this.textoDigitado)
                        this.textoDigitado + '';

                    },
                    alerta(event) {//pode fazer jogo de if tb.. definindo um padrao ja na tag..
                        event.target.style = "background: red"
                    },
                    vermelho() {
                        this.$refs.firstParagraph.style.background = "red";
                    },
                    verde() {
                        this.$refs.firstParagraph.style.background = "green";
                    },
                    borda() {
                        this.$refs.firstParagraph.style.border = "2px solid black";
                    },
                    incolor() {
                        this.$refs.firstParagraph.style.background = "white";
                    }

                }
            })

        </script>
    </body>

</html>