<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Curso Básico de Vue</title>
</head>

<body>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <div id="app3">
    <p v-if="seen">Agora voce me viu</p>
    <!-- aqui pode usar outros <p></p> com v-else-if e v-else -->
  </div>


  <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Inverter Mensagem</button>
      <p>{{ message }}</p>
      <input v-model="message">  
    </div>


  <script>
    var app3 = new Vue({
      el: "#app3",
      data: {
        seen: true
      }
    });

  </script>


  <script>
    var app5 = new Vue({
      el: '#app-5',
      data: {
        message: 'Olá Vue!'
      },
      methods: {
        reverseMessage: function () {
          this.message = this.message.split('').reverse().join('')
        }
      }
    })
  </script>

</body>

</html>